<% if @model == "User" %>
  <h3>User search for "<%= @word %>"</h3>
  <%= render "users/index", users: @records %>
<% else %>
  <h3>Book search for "<%= @word %>"</h3>
  <%= render "books/index", books: @records %>
<% end %>